body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
margin:0;
padding:0;

}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img{
	border:0;
}
address,caption,site,code,dfn,em,strong,th,var{
	font-style:normal;
	font-weight:normal;
	
}
caption,th{
	text-align:left;
}
ol,ul{
	list-style:none;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
}
.clear{
	clear:both;
}
#navigationBar{
	
	background-color#08918E;
	/*margin:0 auto;*/
	text-decoration:none;
	font-family:"Clear Sans";
}

.nav li, #footer li{
	padding-top: 40px;
	padding-left:45px;
	float:left;	
	font-size:16px;
	
}
#logo{
	float:left;
}
#header{
	width:100%;
	height:85px;
	background-color:#08918E;
}
#header2{
	width:100%;
	height:50px;
	background-color:#7cc062;
}
.container-manual{
	margin:0 auto;
	width:960px;
	font-family:"Clear Sans";
}
#logo{
	padding-top:15px;
}

li a{
	text-decoration:none;
	color:white;
	font-weight:bold
} 
#search{
	float:left;
}
#button{
	padding-top:18px;
	float:left;
}
#heading{
	font-size:25px;
	font-weight:bold;
	color:#00A3D8;
	padding-top:20px;
}
#navigationBar a:hover{
	text-decoration:none;
	color:white;
	
}
.row{
	padding-top:20px;
}
#added{
	background-color:#fcfcf8;
	border-color:black;
	width:505px;
	height:109px;	
	
}
#details{
	float:right;
	width:363px;
	height:108px;
	background-color:#fcfcf8;
}


#footer{
	background-color:#08918E;
	height:100px;
	width:100%;
}

#copyright{
	width:100%;
	margin:0 auto;
	text-align:center;
}
#footer li{
	padding-top: 20px;
	padding-left:60px;
	float:left;	
	color:white;
}

#footer_navBar{
	font-family:"Clear Sans";
	color:#545454;
	width:1060px;
	padding-left:120px;
	margin:0 auto;
}
#footer a:hover{
	text-decoration:none;
	color:white;
}
